@import '../../variables.scss';

.medidas {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 24px;

  @media (min-width: 768px) {
    max-width: 784px;
    gap: 24px;
    align-items: flex-start;
    padding: 40px 57px;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 48px;
  }

  &__inputs {
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: 100%;
    margin-bottom: 18px;

    h2 {
      margin-bottom: 8px;
    }

    @media (min-width: 768px) {
      flex-direction: column;

      > div {
        width: 100%;
      }
    }
  }

  &__seccion1 {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      width: 35%;
      gap: 32px;
    }

    &__input:focus {
      border: 1px solid #2abc05;
      border-radius: 15px;
    }

    & h2 {
      font-size: 13px;
      font-family: $lato;
      font-weight: 700;
    }
  }
  &__seccion2 {
    position: relative;
    padding: 32px 28px;

    @media (min-width: 768px) {
      padding-top: 0px;
      width: 65%;
    }
  }
}

.width-label {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  justify-self: center;
  left: 50%;
  top: calc(100% + 12px);
  transform: translateX(-50%);
  z-index: 2;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.height-label {
  font-size: 12px;
  font-weight: bold;
  align-self: center;
  position: absolute;
  left: calc(100% + 26px);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 16px;
    left: calc(100% + 40px);
  }
}

.medidas__seccion1 {
  &__left h2,
  &__right h2 {
    @media (min-width: 768px) {
      margin-bottom: 8px;
    }
  }

  &__bottom {
    span {
      font-size: 18px;
      padding: 4px;
    }

    h2 {
      vertical-align: middle;
      @media (min-width: 768px) {
        margin-top: 32px;
      }
    }
  }
}

.secure-area {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;

  @media (min-width: 768px) {
    width: 300px;
    height: 300px;
  }
}

.secure-area .wall {
  background-color: $medidas-square-green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $medidas-border-green;
  border-left: none;
  border-top: none;
}

.squares {
  background: #58a;
  background-image: linear-gradient($medidas-border-green 1px, transparent 0),
    linear-gradient(90deg, $medidas-border-green 1px, transparent 0);
}
