@import '../../variables.scss';

.textarea {
  width: 100%;
  min-height: 120px;
  border-radius: 8px;
  padding: 16px;
  background-color: #ffffff;
  color: black;
  border: none;
  font-size: 18px;
  font-family: $lato;
  font-weight: 700;
  outline: none;
  box-sizing: border-box;
  resize: none;

  &::placeholder {
    color: $gray2;
  }

  &--error {
    border: 1px red solid;

    ~ .counter {
      color: red;
    }

    &::placeholder {
      color: red;
    }
  }

  &.error {
    border: 1px #e74c3c solid;
    
    &::placeholder {
      color: #e74c3c;
    }
  }

  &--active {
    border: 3px $green solid;
  }

  textarea {
    resize: none;
  }
}

.counter {
  position: absolute;
  z-index: 2;
  bottom: 12px;
  right: 16px;
  font-weight: bold;
}

.textarea-wrapper {
  position: relative;
  width: 100%;

  .textarea.error {
    ~ .counter {
      bottom: 36px;
    }
  }
  
  .error-message {
    display: block;
    color: #e74c3c;
    font-size: 14px;
    margin-top: 4px;
    font-weight: 500;    
  }
}
