.modal__content--radius8 {
  border-radius: 16px !important;
}
.modal__content--nopadding {
  padding: 0 !important;
}
.modal__content--ovh {
  overflow: hidden;
}
.modal--wide {
  max-width: 90vw !important;
  width: 90vw !important;
  @media screen and (min-width: 768px) {
    min-height: 568px;
    max-width: 1000px !important;
    width: 80vw !important;
  }
}
.modal {
  background: white;
  border-radius: 16px;
  position: fixed;
  top: 40%;
  left: 50%;
  opacity: 0;
  text-align: center;
  width: calc(100% - 24px);
  max-width: 440px;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  transition: all 0.2s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  transition: opacity 250ms 50ms ease-in-out, top 250ms 50ms ease-in-out !important;

  &__content {
    padding: 24px 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    .title {
      margin-top: 0;
    }

    .button {
      margin-top: 24px;
      font-size: 18px;
    }

    @media only screen and (min-width: 768px) {
      padding: 58px 64px;
    }
  }

  &__closer {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 9999;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 20px;
  }

  &--open {
    top: 50%;
    opacity: 1;
    pointer-events: all;
  }
}


.modal-shadow {
  position: fixed;
  opacity: 0;
  inset: 0;
  z-index: 9998;
  pointer-events: none;
  transition: opacity 150ms ease-in-out !important;
  background-image: url('data:image/svg+xml,<svg width="1208" height="710" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23a)"><path fill="%23fff" d="M0 0h1208v710H0z"/><path d="m203 214-16 9-15-9h-22v27l22 12v-13l-8-4v-11l17 10v26l6 4 7-4v-26l17-10v11l-8 4v13l22-12v-27h-22ZM203 257v9l-14 8v16l28-16v-25l-14 8ZM172 257l-14-8v25l28 16v-16l-14-8v-9ZM558 36l-16 9-15-9h-22v27l21 13V63l-7-5V48l16 9v26l7 4 7-4V57l17-9v10l-8 5v13l22-13V36h-22ZM558 80v8l-14 8v16l28-16V72l-14 8ZM526 80l-13-8v24l28 16V96l-15-8v-8ZM433 634l-16 9-15-9h-22v27l22 12v-13l-8-4v-11l16 10v26l7 4 7-4v-26l17-10v11l-8 4v13l22-12v-27h-22ZM433 677v9l-14 8v16l28-16v-25l-14 8ZM402 677l-14-8v25l28 16v-16l-14-8v-9ZM879 290l-16 9-15-9h-22v27l22 12v-13l-8-5v-10l17 9v26l6 4 7-4v-26l17-9v10l-8 5v13l22-12v-27h-22ZM879 333v9l-14 8v16l28-16v-25l-14 8ZM848 333l-14-8v25l28 16v-16l-14-8v-9ZM1146 62l-15 8-16-8h-22v27l22 12V88l-8-5V73l17 9v26l7 4 7-4V82l16-9v10l-7 5v13l21-12V62h-22ZM1147 105v8l-15 9v16l28-16V97l-13 8ZM1115 105l-14-8v25l28 16v-16l-14-9v-8ZM605 315l-16 9-15-9h-22v27l21 12v-13l-7-4v-11l16 9v27l7 4 7-4v-27l17-9v11l-8 4v13l22-12v-27h-22ZM605 358v9l-14 8v16l28-16v-25l-14 8ZM573 358l-13-8-1 25 28 16v-16l-14-8v-9ZM720 480l-15 8-16-8h-22v27l22 12v-13l-8-5v-10l17 9v26l7 4 7-4v-26l16-9v10l-8 5v13l22-12v-27h-22ZM720 523v8l-14 9v16l28-16v-25l-14 8ZM689 523l-14-8v25l28 16v-16l-14-9v-8ZM389 163l-16 9-15-9h-22v27l21 12v-13l-7-4v-11l16 10v26l7 4 7-4v-26l17-10v11l-8 4v13l21-12v-27h-21ZM389 206v9l-14 8v16l28-16v-24l-14 7ZM357 206l-14-7v24l28 16v-16l-14-8v-9Z" fill="%23FFE500"/><path d="m314 428-15 9-16-9h-22v27l22 13v-13l-8-5v-10l17 9v26l7 4 6-4v-26l17-9v10l-8 5v13l22-13v-27h-22ZM314 472v8l-14 8v16l28-16v-24l-14 8ZM283 472l-14-8v24l28 16v-16l-14-8v-8Z" fill="%23A1FFD2"/><path d="m809 212-15 8-15-8h-22v27l21 12v-13l-7-5v-10l16 9v26l7 4 7-4v-26l16-9v10l-7 5v13l21-12v-27h-22ZM810 255v8l-14 9v16l28-16v-25l-14 8ZM778 255l-14-8v25l28 16v-16l-14-9v-8ZM225 21l-16 9-15-9h-22v27l21 12V47l-7-4V32l16 9v27l7 4 7-4V41l17-9v11l-8 4v13l21-12V21h-21ZM225 64v9l-14 8v16l28-16V56l-14 8ZM193 64l-14-8v25l28 16V81l-14-8v-9ZM857 558l-15 9-16-9h-22v27l22 12v-13l-8-5v-10l17 9v26l7 4 7-4v-26l16-9v10l-7 5v13l21-12v-27h-22ZM858 601v9l-15 8v16l28-16v-25l-13 8ZM826 601l-14-8v25l28 16v-16l-14-8v-9Z" fill="%23EA2675"/><path d="m1087 338-15 9-16-9h-22v27l22 13v-14l-8-4v-10l17 9v26l7 4 7-4v-26l16-9v10l-7 4v14l21-13v-27h-22ZM1088 381v9l-15 8v16l28-16v-24l-13 7ZM1056 381l-14-7v24l28 16v-16l-14-8v-9ZM844 0l-15 9-16-9h-22v27l22 12V26l-8-4V11l17 10v26l7 4 7-4V21l16-10v11l-7 4v13l21-12V0h-22ZM845 43v9l-15 8v16l28-16V36l-13 7ZM813 43l-14-7v24l28 16V60l-14-8v-9ZM142 593l-15 9-16-9H89v27l22 13v-14l-8-4v-11l17 10v26l7 4 7-4v-26l16-10v11l-7 4v14l21-13v-27h-22ZM143 636v9l-15 8v16l28-16v-24l-13 7ZM111 636l-14-7v24l28 16v-16l-14-8v-9Z" fill="%23A1FFD2"/><path d="m448 315-15 9-15-9h-22v27l21 12v-13l-7-4v-11l16 9v27l7 4 7-4v-27l16-9v11l-7 4v13l21-12v-27h-22ZM449 358v9l-14 8v16l28-16v-25l-14 8ZM417 358l-14-8v25l28 16v-16l-14-8v-9Z" fill="%23EA2675"/><path d="m53 117-16 9-15-9H0v27l21 12v-13l-7-4v-11l16 10v26l7 4 7-4v-26l17-10v11l-8 4v13l22-12v-27H53ZM53 160v9l-14 8v16l28-16v-24l-14 7ZM21 160l-13-7v24l28 16v-16l-15-8v-9Z" fill="%23A1FFD2"/><path d="m120 428-16 9-15-9H67v27l21 13v-13l-7-5v-10l16 9v26l7 4 7-4v-26l17-9v10l-8 5v13l21-13v-27h-21ZM120 472v8l-14 8v16l28-16v-24l-14 8ZM88 472l-14-8v24l28 16v-16l-14-8v-8Z" fill="%23EA2675"/><path d="m649 130-16 9-15-9h-22v27l22 12v-13l-8-4v-11l17 10v26l6 4 7-4v-26l17-10v11l-8 4v13l22-12v-27h-22ZM649 173v9l-14 8v16l28-16v-24l-14 7ZM618 173l-14-7v24l28 16v-16l-14-8v-9ZM523 477l-15 9-16-9h-22v27l22 12v-13l-8-4v-11l17 10v26l7 4 7-4v-26l16-10v11l-7 4v13l21-12v-27h-22ZM524 520v9l-15 8v16l28-16v-24l-13 7ZM492 520l-14-7v24l28 16v-16l-14-8v-9ZM953 436l-15 9-15-9h-22v27l21 13v-14l-7-4v-10l16 9v26l7 4 7-4v-26l17-9v10l-8 4v14l21-13v-27h-22ZM954 479v9l-14 8v16l28-16v-24l-14 7ZM922 479l-14-7v24l28 16v-16l-14-8v-9Z" fill="%23A1FFD2"/><path d="m971 88-16 8-15-8h-22v27l22 12v-13l-8-5V99l16 9v26l7 4 7-4v-26l17-9v10l-8 5v13l22-12V88h-22ZM971 131v8l-14 9v16l28-16v-25l-14 8ZM940 131l-14-8v25l28 16v-16l-14-9v-8Z" fill="%23EA2675"/><path d="m1117 583-16 9-15-9h-22v27l21 12v-13l-7-4v-11l16 9v27l7 4 7-4v-27l17-9v11l-8 4v13l21-12 1-27h-22ZM1117 626v9l-14 8v16l28-16v-25l-14 8ZM1085 626l-14-8v25l28 16v-16l-14-8v-9Z" fill="%23FFE500"/><path opacity=".4" fill="%23000" d="M-2 0h1210v710H-2z"/></g><defs><clipPath id="a"><path fill="%23fff" d="M0 0h1208v710H0z"/></clipPath></defs></svg>');
  background-size: 140%;
  background-position: center;
  animation: animatedBackground 500s linear infinite !important;

  &--open {
    opacity: 1;
    pointer-events: all;
  }

  @media only screen and (min-width: 960px) {
    background-size: 80%;
  }
}

.modal-shadow--simple {
  background: rgba(0, 0, 0, 0.6) !important;
  background-image: none !important;
}

@keyframes animatedBackground {
  to {
    background-position: 0 -10000px;
  }
}
