.modal__content--radius8 {
  border-radius: 16px !important;
}
.modal__content--nopadding {
  padding: 0 !important;
}
.modal__content--ovh {
  overflow: hidden;
}
.modal--wide {
  max-width: 90vw !important;
  width: 90vw !important;
  @media screen and (min-width: 768px) {
    min-height: 568px;
    max-width: 1000px !important;
    width: 80vw !important;
  }
}
.modal {
  background: white;
  border-radius: 16px;
  position: fixed;
  top: 40%;
  left: 50%;
  opacity: 0;
  text-align: center;
  width: calc(100% - 24px);
  max-width: 440px;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  transition: all 0.2s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  transition: opacity 250ms 50ms ease-in-out, top 250ms 50ms ease-in-out !important;

  &__content {
    padding: 24px 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    .title {
      margin-top: 0;
    }

    .button {
      margin-top: 24px;
      font-size: 18px;
    }

    @media only screen and (min-width: 768px) {
      padding: 58px 64px;
    }
  }

  &__closer {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 9999;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 20px;
  }

  &--open {
    top: 50%;
    opacity: 1;
    pointer-events: all;
  }
}


.modal-shadow {
  position: fixed;
  opacity: 0;
  inset: 0;
  z-index: 9998;
  pointer-events: none;
  transition: opacity 150ms ease-in-out !important;
  background-image: url('/success-bg.svg');
  background-size: 140%;
  background-position: center;
  animation: animatedBackground 500s linear infinite !important;

  &--open {
    opacity: 1;
    pointer-events: all;
  }

  @media only screen and (min-width: 960px) {
    background-size: 80%;
  }
}

.modal-shadow--simple {
  background: rgba(0, 0, 0, 0.6) !important;
  background-image: none !important;
}

@keyframes animatedBackground {
  to {
    background-position: 0 -10000px;
  }
}
