.footer {
  display: flex;
  background-color: white;
  padding: 14px 16px;
  width: 100vw;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  box-shadow: 1px 1px 8px 0px #b7b7b7;

  @media (min-width: 768px) {
    position: fixed;
    bottom: 0;
  }
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  @media (max-width: 768px) {
    // max-width: calc(100% - 36px) !important;
    .footer {
      padding: 8px 8px 8px 4px;
    }
  }
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) and (max-width: 1200px) {
    gap: 350px;
  }
  @media (max-width: 600px) {
    justify-content: space-between;
  }
}

.footer-logo {
  max-width: 104px;
  object-fit: contain;

  @media (min-width: 768px) {
    max-width: 148px;
  }
}
