// colors
$green: #2C2C2C;
$dark-green: #2C2C2C;
$gray: #c7c7c7;
$gray2: #c4c4c4;
$gray3: #EAEAEA;
$placeholderGray: #b7b7b7;
$fontgray: #191919;
$medidas-border-green: #C7C7C7;
$medidas-square-green: #FFF9D8;
$inputGray: #f8f9fc;
$inputBorder: #d9d9d9;
$disabledBg: #ededed;
$disabledColor: #bdbdbd;
$black: #000;
$black1: #111;
$black2: #222;
$white1: #f1f1f1;
$medidas-title: #828282;

// fonts
$lato: 'Lato', sans-serif;
$jost: 'Jost', sans-serif;
$nunito: 'Nunito Sans', sans-serif;

//calculations
$bodyVH: calc(100vh - 106px - 112px - 12px);
