// colors
$green: #2abc05;
$dark-green: #1e9500;
$gray: #c7c7c7;
$gray2: #c4c4c4;
$gray3: #EAEAEA;
$placeholderGray: #b7b7b7;
$fontgray: #191919;
$medidas-border-green: #6fba2d;
$medidas-square-green: #dff4d0;
$inputGray: #f8f9fc;
$inputBorder: #d9d9d9;
$disabledBg: #ededed;
$disabledColor: #bdbdbd;
$black: #000;
$black1: #111;
$black2: #222;
$white1: #f1f1f1;

// fonts
$lato: 'Lato', sans-serif;
$jost: 'Jost', sans-serif;
$nunito: 'Nunito Sans', sans-serif;

//calculations
$bodyVH: calc(100vh - 106px - 112px - 12px);
